@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
 
}
/* Default styles for larger devices */
.main-container {
  @apply max-w-screen-xl w-full h-screen mx-auto;
}

/* Specific media query for laptop screens with width of 1366px */
@media (max-width: 1366px) {
  .main-container {
    @apply w-full max-w-[1366px] h-screen; /* Set container width to 1366px */
  }
}

/* Media query for larger desktop screens (greater than 1366px) */
@media (min-width: 1367px) {
  .main-container {
    @apply w-full max-w-[1366px] h-screen; /* Ensuring the container doesn't exceed 1366px width */
  }
}

/* Media query for tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .main-container {
    @apply w-full h-[90vh];
  }
}

/* Media query for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .main-container {
    @apply w-full h-[80vh]; /* Adjust height for mobile devices */
  }
}
/* Adjustments for 4K and Larger Screens (2560px and up) */
@media (min-width: 2560px) {
  .main-container {
    @apply max-w-[1366px] h-screen; /* Restrict the width to Full HD for 4K screens */
  }
}
.my-masonry-grid {
  display: flex;
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 16px; /* Gap between columns */
  background-clip: padding-box;
}
.my-masonry-grid img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
.font-inter {
  font-family: 'Inter', sans-serif;
}
.slider::-webkit-slider-thumb {
  background-color: #FF9F0D !important;
  border: 2px solid #FF7F00 !important; /* Optional: darker border for better contrast */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  background-color: #FF9F0D !important;
  border: 2px solid #FF7F00 !important; /* Optional: darker border for better contrast */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  cursor: pointer;
}
.slider {
  background: #FF9F0D;
}

/* Webkit Browsers (Chrome, Safari) */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF9F0D;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF9F0D;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
  cursor: pointer;
}


/* For Firefox Progress Background */
.slider::-moz-range-track {
  background: #FF9F0D;
  height: 2px;
  border-radius: 10px;
}